node_modules
/frontend/node_modules
.env

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

build
frontend/build

.cache
/frontend/.cache

dist
/frontend/dist